{% extends 'base.html.twig' %}

{% block title %}Votre Panier - FleurVerte
{% endblock %}

{% block body %}
	<div class="container mx-auto px-4 mt-8 content-container">
		<h1 class="text-4xl font-bold mb-4">Votre Panier</h1>

		{% if panier is empty %}
			<p class="text-xl mb-8">Votre panier est actuellement vide.</p>
			<a href="{{ path('app_home') }}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
				Continuer vos achats
			</a>
		{% else %}
			<div
				class="mt-8">{# Ici, vous afficherez les articles du panier #}
			</div>

			<div class="mt-8">
				<h2 class="text-2xl font-semibold mb-2">Total : à calculer</h2>
				<a href="#" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
					Procéder au paiement
				</a>
			</div>
		{% endif %}
	</div>
{% endblock %}
